<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="styles-jhony.html">
<link rel="import" href="shared-javascrip.html">

<dom-module id="componente-login-jhony">
  <template>
    <style include="styles-jhony">
      :host {
        display: block;
      }
    </style> 
    
  <form>
  <div class="imgcontainer">
    <img src="../bower_components/login_jhony/images/avatar.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="name1" value="{{name1::input}}" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw1" value="{{psw1::input}}" required>
        
    <button type="submit" on-click="go">[[prop1]]</button>
    
  </div>

</form>
  </template>

  <script>
    
    class ComponenteLoginJhony extends Polymer.Element {
      static get is() { return 'componente-login-jhony'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Inicio Sesion'
          },
          name1:String,
          psw1:String
        };
      }

      go(name1,psw1){
             if(this.name1 =='jhony'&&this.psw1=="1234"){
              alert("Datos Correctos..¡¡");
            }else{
              alert("Datos Incorrectos..¡¡");
            }
          }
    }

    window.customElements.define(ComponenteLoginJhony.is, ComponenteLoginJhony);
  </script>
</dom-module>
