<link rel="import" href="../bower_components/polymer/polymer-element.html">
<dom-module id="shared-javascrip">
  <template>
    
      <script type="text/javascript">
      function go(){

        if (document.form.psw.value=='1234' && document.form.name.value=='jhony'){ 
      
        alert("Datos Correctos..¡¡");

    } 
    else{ 
         alert("Porfavor ingrese, nombre de usuario y contraseña correctos."); 
    }  

    function login(){ 
        var usuario=document.login.name.value; 
        var password=document.login.psw.value; 
        if (usuario=="jhony" && password=="1234") { 
         alert("Datos Correctos......¡¡¡");
        }else{
          alert("Porfavor ingrese, nombre de usuario y contraseña correctos.");
        }
      }

    </script>
   
  </template>
</dom-module>